.popup {
  z-index: 7;
  padding: 106px 15px 80px 15px;
  background: $black;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -100%;
  top: 0;
  transition: $transition-main;
  &.show {
    left: 0;
    @include media-min(992) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @include media-max-h(700) {
    height: 100% !important;
  }
  @include media-min(992) {
    overflow: hidden;
    padding: 0;
    left: -100%;
    top: 50%;
    transform: translate((0, -50%));
    width: 97vw;
    height: 702px;
    min-height: auto;
  }
  @include media-min(1350) {
    width: 100%;
    max-width: 1321px;
  }
  &-image {
    margin-bottom: 30px;
    @include media-min(576) {
      text-align: center;
    }
    @include media-min(992) {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      @include media-min(576) {
        width: fit-content;
      }
      @include media-min(992) {
        max-width: 492px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-title {
    color: $yellow;
    margin-bottom: 20px;
  }
  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  &-content {
    @include media-min(992) {
      padding: 0 40px;
      overflow: auto;
    }
    @include media-min(1060) {
      padding: 0 80px 0 67px;
    }
    @include media-min(1130) {
      padding: 0 100px 0 67px;
    }
    @include media-max-h(650) {
      justify-content: flex-start !important;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  p {
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
    padding-left: 8px;
    li {
      p {
        margin: 0;
      }
      span {
        color: $yellow;
        margin-right: 5px;
      }
    }
  }
  b {
    color: $yellow;
  }
  .btn-main {
    min-height: auto;
    min-width: 207px;
    margin: 60px auto 0 auto;
    @include media-min(992) {
      margin: 60px 0 0 auto;
    }
  }



  .header-mob {
    z-index: 8;
    position: absolute;
    &__circle {
      transform: translate(-13.5px);
    }
  }
}