.search {
  input {
    padding: 10px 17px;
    border: 1px solid $white;
    background: transparent;
    outline: none;
    color: rgba(255, 255, 255, 0.45);
  }
  button {
    background: transparent;
    outline: none;
    width: 48px;
    border: 1px solid $white;
    border-left: none;
  }
}