.homepage {
  .join-us {
    padding: 40px 0 60px;
    .container {
      @include media-min(1920) {
        position: relative;
      }
    }
    @include media-min(992) {
      padding: 70px 0 100px;
    }
    .title {
      margin-bottom: 30px;
      @include media-min(992) {
        margin-bottom: 60px;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px auto 0 auto;
      width: fit-content;
      min-width: 206px;
      padding: 10.5px;
      @include media-min(992) {
        margin: 30px 0 0 auto;
      }
      @include media-min(1920) {
        position: absolute;
        left: calc(100% + 20px);
        margin: -15px 0 0;
      }
      span {
        margin-right: 10px;
      }
    }
    &__social {
      margin: 0 auto;
      width: fit-content;
      @include media-min(1920) {
        margin: 55px auto 0 auto;
      }
      &:hover {
        .icon {
          background: $yellow;
        }
      }
      span {
        &:last-of-type {
          margin-top: 20px;
        }
      }
    }
  }
}